doctype html
html
  head
    title='Cool Map by D&K'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css')
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js")
  body
    block content
